<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Products</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-repeat: no-repeat;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        background-image: linear-gradient(
          to top,
          #fdcbf1 0%,
          #fdcbf1 1%,
          #e6dee9 100%
        );
        background-size: cover;
        font-size: 1.2em;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .container {
        flex: 1;
        margin-top: 50px;
      }

      th,
      td {
        text-align: center;
      }

      tbody tr:hover {
        background-color: #f5f5f5;
      }

      tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      a {
        text-decoration: none;
        color: rgb(228, 11, 11);
      }

      .add-product-form {
        margin-top: 20px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Add a New Product</h1>

      <div class="add-product-form">
        <form action="/products" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Product Price</label>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              name="price"
              min="0"
              required
            />
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Product Category</label>
            <select
              class="form-select"
              id="productCategory"
              name="category"
              required
            >
              <option value="fruit">fruit</option>
              <option value="vegetable">vegetable</option>
              <option value="dairy">dairy</option>
            </select>
          </div>
          <button type="submit" class="btn btn-dark">Add Product</button>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
